

#game-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    align-content: center;
    text-align: center;
}

#menu-container, #button, #shuffle, #back {
    position: relative;
}
#menu {
    position: absolute;
}
#menu {
    width: 100%;
    display: none;
}
#button {
    width: 100%;
}
a, #button, #shuffleSteps {
    text-align: center;
    align-content: center;
    display: block;
    font-family: monospace;
    font-size: xx-large;
    background-color: white;
    color: black;
    transition:
        background-color 1s ease,
        color 1s ease;
    text-decoration: none;
}


#shuffleSteps, #shuffle-button {
    width: 50%;
}
#shuffleSteps, #shuffle-button, #button, #back {
    height: 50;
}
#shuffle-button {
    float: left;
}

a:hover, #button:hover, #shuffleSteps:hover {
    background-color: black;
    color: white;
}
#menu-container:hover #menu {display: block;}