input, select, button, a {
    text-align: center;
    align-content: center;
    display: block;
    font-family: monospace;
    font-size: xx-large;
    border: 0px solid;
    width: 100%;
    background-color: white;
    color: black;
    transition:
        background-color 1s ease,
        color 1s ease;
    text-decoration: none;
    height: calc(100%/6);
}

p {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
}

input:hover, select:hover, button:hover, a:hover {
    background-color: black;
    color: white;
}